@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #3a3a3a;
  --bg-light: #f5f5f5;
  --brand-primary: #7C3AED;
  --brand-secondary: #c4b5fd;
  --text-primary: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.8);
  --text-dark: #1a1a1a;
  --font-league-spartan: 'League Spartan', sans-serif;
  --font-instrument-sans: 'Instrument Sans', sans-serif;
}

body {
  background-color: var(--bg-dark);
  margin: 0;
  padding: 0;
  font-family: var(--font-league-spartan);
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, p, span{
  font-family: var(--font-league-spartan);
}

a {
  font-family: var(--font-instrument-sans);
  font-weight: 500;  
}
a:focus {
  outline: none;
  box-shadow: none;
}

.perspective {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.group:hover .group-hover\:rotate-y-180 {
  transform: rotateY(180deg);
}
